In [5]:
# stream data

import pandas as pd
import numpy as np

import ssl

ssl._create_default_https_context = ssl._create_unverified_context

arrestData = pd.read_csv("PPAD.csv")

nPopulations = pd.read_csv("totalPopulation.csv", index_col = 'Id')

eduA = pd.read_csv("eduAttainment.csv")


#eduA.head(10)

,Neighborhood,Id,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - No schooling completed,Margin of Error; Total: - No schooling completed,Estimate; Total: - Nursery school,Margin of Error; Total: - Nursery school,Estimate; Total: - Kindergarten,Margin of Error; Total: - Kindergarten,...,Estimate; Total: - Associate's degree,Margin of Error; Total: - Associate's degree,Estimate; Total: - Bachelor's degree,Margin of Error; Total: - Bachelor's degree,Estimate; Total: - Master's degree,Margin of Error; Total: - Master's degree,Estimate; Total: - Professional school degree,Margin of Error; Total: - Professional school degree,Estimate; Total: - Doctorate degree,Margin of Error; Total: - Doctorate degree
0,Allegheny Center,1,1002.0,139.000000,10.0,14.000000,0.0,10.000000,0.0,10.000000,...,87.0,52.000000,274.0,77.000000,80.0,46.000000,125.0,66.000000,8.0,11.000000
1,Allegheny West,2,293.0,72.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,...,16.0,10.000000,88.0,34.000000,33.0,29.000000,27.0,31.000000,20.0,26.000000
2,Allentown,3,1577.0,227.187148,19.0,27.000000,0.0,17.320508,0.0,17.320508,...,54.0,34.871192,70.0,42.626283,35.0,29.529646,22.0,29.597297,0.0,17.320508
3,Arlington,4,1296.0,218.515446,31.0,32.878564,0.0,17.320508,0.0,17.320508,...,147.0,59.405387,94.0,43.127717,25.0,22.158520,4.0,15.779734,0.0,17.320508
4,Arlington Heights,5,121.0,63.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,...,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000
5,Banksville,6,3244.0,480.985447,5.0,20.518285,0.0,20.000000,0.0,20.000000,...,333.0,137.793323,606.0,163.874952,581.0,209.348991,75.0,59.539903,0.0,20.000000
6,Bedford Dwellings,7,740.0,96.000000,15.0,10.000000,0.0,10.000000,0.0,10.000000,...,47.0,22.000000,26.0,23.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000
7,Beechview,8,5905.0,522.106311,123.0,99.924972,0.0,31.622777,0.0,31.622777,...,633.0,147.621137,1105.0,222.198110,325.0,107.009345,87.0,57.818682,20.0,42.154478
8,Beltzhoover,9,1173.0,230.724944,0.0,20.000000,0.0,20.000000,0.0,20.000000,...,46.0,55.901699,64.0,41.291646,72.0,45.563143,0.0,20.000000,0.0,20.000000
9,Bloomfield,10,6612.0,403.312534,59.0,36.331804,0.0,31.622777,0.0,31.622777,...,408.0,106.714573,1801.0,235.274308,1112.0,173.280120,310.0,84.172442,216.0,74.182208

In [2]:
# create dict of neighborhoods w default vals
nc = {}

for i in range(1, len(nPopulations)):
    nValue = nPopulations.loc[i, "Neighborhood"]
    if(nValue not in nc):
        nc[nValue] = 0
#print(nc)

In [3]:
# create dict of neighborhoods : populations

numOfNeighborhoods = 0

for i in range(len(nPopulations)):
    numOfNeighborhoods += 1

pop = {}

for i in range(1, len(nPopulations)):
    val = nPopulations.loc[i, "Neighborhood"]
    if(val in nPopulations.values):
        pop[val] = nPopulations.get_value(nPopulations.loc[nPopulations['Neighborhood'] == val].index[0], 'Estimate; Total')

#pop

/ihome/crc/install/python/miniconda3-3.7/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  del sys.path[0]